body{ font-family: 'Microsoft Yahei';font-size: 12px;color: #666;}
html,body{ height: 100%;}

.head{
	height: 80px;
	font:normal 30px/80px "Microsoft Yahei";
	text-align: center;
	background: #0078d7;
	color: #fff;
	width: 1400px;
	margin: auto;
}

.menu{
	margin: 3px auto 0;
	width: 1400px;
	height: 35px;
	background: #e6e6e6;
	display: flex;
}

.menu_item{
	margin:auto 20px;
	font: normal 20px/35px "Microsoft Yahei";
	text-align: center;
}

.main{
	width: 1400px;
	height: 605px;
	/* background:yellowgreen; */
	margin: 0px auto 0;
}

.left{
	/* background: red; */
	float: left;
	width: 300px;
}

.user_input_item{
	width: 250px;
	height: 25px;
	margin: 5px auto 0;
}
.user_input_item div, .user_input_item label{
	width: 50px;
	float: left;
	margin-right: 5px;
	font: normal 12px/25px "Microsoft Yahei"
}

.user_input_item input{
	width: 180px;
	height: 23px;
	float: right;
	border: 1px solid #e0e0e0;
	outline:none;
}

.user_input_item select{
	margin-left: 13px;
	width: 60px;
	height: 25px;
	border: 1px solid #e0e0e0;
}

#btn_user_login{
	width: 110px;
	height: 25px;
}

/* 系统公告部分 */
.public_info{
	/* 为其单独设置高度，放置在公告数量不足时，下面元素上浮 */
	height: 166px;
}

.public_info ul{
	width: 250px;
	margin: 5px auto 0;
}

.public_info ul li{
	height: 25px;
	border-bottom: 1px solid #ccc;
}

.public_info ul a{
	font: normal 14px/25px "Microsoft Yahei";
	color: #000;
	float: left;
	text-decoration: none;
}

.public_info ul a:hover{
	color: #0078d7;
}

.public_info ul a::before{
	content: "·"
}

.public_info ul span{
	font: normal 14px/25px "Microft YaHei";
	color: #000;
	float: right;
}

/* 设置时间 */
#time, #date{
	width: 250px;
	margin: 10px auto 0;
	font: normal 20px/30px "Microft Yahei";
	text-align: center;
}

/* 设置天气 */
.weather{
	width: 250px;
	margin: 25px auto 0;
}
iframe{
	width: 250px;
	height: 100px;
	border: none;
}

/* 通过item_header来设置每个模块的标题 */
.item_header{
	margin: 15px 5px 0;
	height: 30px;
	font: bold 15px/30px "Micorsoft Yahei";
	border-bottom: 1px solid #666;
	text-indent: 5px;
}

/* 设置标题右方的按钮>>*/
.item_header span{
	width: 200px;
	height: 30px;
	font: normal 12px/30px "Microft Yahei";
	text-align: right;
	display: inline-block;
}

.bottom{
	margin:5px auto;
	height:25px;
	width: 1400px;
	text-align: center;
	font:normal 14px/25px "Microsoft Yahei";
}

.right{
	width: 1076px;
	height: 575px;
	margin: 15px 0px 0 5px;
	padding-left: 15px;
	border-left: 2px solid #666;
	float: right;
	/* background: blue; */

}
